<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" #form="ngForm" >
    <div class="form-group" [ngClass]="email?.touched ? 'was-validated' : 'needs-validated'">
      <label for="email" class="required form-label">Email address</label>
      <input type="email" formControlName="email" class="form-control" id="email" required placeholder="youremail@example.com"/> 
      <div *ngIf="email?.errors['required']" class="invalid-feedback">
        Email is required
      </div>
      <div *ngIf="email?.errors['email']" class="invalid-feedback">
        Please enter a correct email format
      </div>
    </div>
    <div class="form-group"[ngClass]="reason?.touched ? 'was-validated' : 'needs-validated'" >
      <label for="reason">Please select a reason</label> 
      <select class="form-control" id="reason"> 
        <option>Account and Billing</option>
        <option>Technical Help</option>
        <option>Another reason</option>
        
      </select>Reason is required
    </div>
    
    <div class="form-group"[ngClass]="description?.touched ? 'was-validated' : 'needs-validated'">
      <label for="description">Description</label>
         <textarea
         class="form-control" 
         id="description" 
         minlength="25"
         maxlength="300" 
         rows="3" 
         placeholder="Maximum 300 characters."
         ></textarea>
         <div *ngIf="description?.errors['minlength']" class="invalid-feedback"> 
            Description is required
          </div></div>
   
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
      </div>
  </form>